{% extends 'main/layout.html' %}


{% block title %}Про нас{% endblock %}


{% block content %}
   <div class="features">
    <h1>О Нас</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aliquam beatae culpa eaque ex explicabo in, iusto laboriosam,
        minus pariatur placeat quaerat quia repellendus sequi similique
        tempore vel voluptate! Aperiam commodi eum incidunt quasi
        quibusdam, temporibus unde voluptate? Accusantium aut,
        dolorum earum hic neque omnis perspiciatis quae recusandae
        tempora vel voluptate?</p>
    <button class="btn btn-danger">Просто нажми</button>
    </div>
{% endblock %}